page-login {
    ion-content {
        background: #7F00FF;
        background: -webkit-gradient(to bottom, #7F00FF, #b700FF);
        background: linear-gradient(to bottom, #7F00FF, #b700FF);
    }
}
