<ion-header style="height: auto">
  
  <ion-toolbar transparent>
    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span style="font-size: 2.2rem; font-weight: 500 !important">
        Melek Portfolio
      </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
  <div id="tabs">
    <div [ngClass]="{ 'active': currentPage=='portfolio' }" (click)="openPage('portfolio')">
      Portfolio
    </div>
    <div [ngClass]="{ 'active': currentPage=='balance' }" (click)="openPage('balance')">
      Balance
    </div>
    <div [ngClass]="{ 'active': currentPage=='potential' }" (click)="openPage('potential')">
      Potential
    </div>
    <div [ngClass]="{ 'active': currentPage=='learn' }" (click)="openPage('learn')">
      Learn
    </div>
  </div>

</ion-header>

<ion-content>
  <page-portfolio *ngIf="currentPage=='portfolio'"></page-portfolio>
  <page-potential *ngIf="currentPage=='potential'"></page-potential>
</ion-content>
