page-brand {
    
    ion-content {
        @include linear-gradient(left,$moss);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    #tabs { margin-top: 10px; background: none; text-align: center; }
    #tabs div {
        display: inline-block;
        margin: 0 14px;
        padding: 10px 0;
        font-size: 1.4rem;
        font-weight: 500 !important;
        text-transform: uppercase;
        opacity: .4;
    }
    #tabs div.active { border-bottom: 2px solid rgba(0,0,0,.5); opacity: .8; }

}
