page-discover {

    ion-title { font-size: 2.2rem;}
    ion-content {
        @include linear-gradient(left,$moss);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    #tabs { margin-top: 10px; background: none; text-align: center; }
    #tabs div {
        display: inline-block;
        margin: 0 12px;
        padding: 10px 0;
        font-size: 1.8rem;
        font-weight: 500 !important;
        opacity: .6;
    }
    #tabs div.active { border-bottom: 2px solid rgba(255,255,255,.6); opacity: 1; }
    #tabs div:focus { opacity: 1; }

}
