page-account {

    ion-title { font-size: 2.2rem;}
    ion-content {
        @include linear-gradient(left,$moss);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    
}
